<div class="media">
  <%= image_tag('ninjaavatarsmall.png', :class =>"align-self-start mr-3") %>
  <div class="media-body">
    <p><%= review.author %></p>
    <p><%= review.body %></p>
  </div>
</div>
