<h1>Click a Review To View Content</h1>
<%= link_to 'Create a new song review', new_song_review_path(@song) %>
<ul>
  <% @reviews.each do |review| %>
    <li><%= link_to review.body, [@song, review] %></li>
  <% end %>
</ul>
